:root {
  --bggrey: #2b2b2b;
  --dropdowngrey: #4e4e4e;
}

* {
  margin: 0;
}

.g1_container {
  border: 1px solid black;
  padding: 15px;
  background-color: var(--bggrey);
}

.dropdown {
  border: 3px solid var(--bggrey);
}

.dropdown .Select-value {
  background-color: var(--dropdowngrey) !important;
}

.dropdown .Select-value-label {
  color: rgb(187, 187, 187) !important;
}

.g_h1 {
  color: rgb(50, 50, 50);
  font-family: "Verdana";
  font-size: 165px;
  position: absolute;
  right: 22px;
}

.g1_h1 {
  transform: translateY(-40px);
}

.g2_h1 {
  transform: translateY(90px);
}

.g3_h1 {
  transform: translateY(10px);
}

.g4_h1 {
  transform: translateY(-25px);
}

@media screen and (max-width: 1300px) {
  .g_h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 700px) {
  .g_h1 {
    font-size: 50px;
  }
}

/* ---- GRAPH 2 ---- */

.radio {
  font-family: Verdana;
  font-size: 14px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  left: 10px;
  width: 300px;
  margin: 15px 0 15px 10px;
  flex-wrap: wrap;
}

.inputt {
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 20px;
  width: 150px;
  background-color: var(--dropdowngrey);
}

.graph_container {
  border: 10px solid var(--dropdowngrey);
  background-color: #111111;
  display: flex;
  width: 100%;
  justify-content: center;
}

.parralax {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("dark.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-x: center;
  background-color: transparent;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parralax_text {
  line-height: 40px;
  text-align: center;
  padding: 25px;
  margin: 0px 35px;
  font-size: 30px;
  text-shadow: #2b2b2b;
  color: rgb(203, 203, 203);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("datata.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-x: center;
  display: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr;
}

.hero img {
  border: 10px solid rgb(70, 70, 70);
  margin-top: 170px;
  background-color: #1d1d1d;
  border-radius: 200px;
}

.logo {
  width: 50%;
}
